.card {
    width: 50%;
    /* background-color: rgb(38, 40, 43); */
    background-color: rgb(210, 219, 226);
    box-shadow: 5px 5px 5px black;
    border-radius: 5px;
    padding-left: 20px;
    padding-top: 10px;
}

.card-title {
    /* color: rgb(210, 219, 226); */
    color: black;
}
